<footer class="minimalist-footer">
  <img src="images/lazi-voyage/logo-lazi-update.png" alt="Lazi Voyage" class="footer-logo">
  <p><a href="https://linktr.ee/guidefrancophonevietnam"  target="_blank">Blog văn hóa Việt</a></p>
  <div class="social-circle">
    <a href="https://instagram.com/josvu19"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/josvu19"><i class="fab fa-facebook"></i></a>
    <a href="https://fr.pinterest.com/goavecjo/"><i class="fab fa-pinterest"></i></a>
    <a href="https://x.com/guidefrvietnam"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/guidefrancophonevietnam/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="copyright">© 2023 Lazi Voyage | All Rights Reserved</div>
</footer>
