<header class="sticky-header">
  <div class="logo">
    <a href="/"><img src="images/lazi-voyage/logo-lazi-update.png" alt="Lazivoyage"></a>
  </div>
  <nav class="desktop-menu">
    <ul>
      <li><a href="#home">Trang Chủ</a></li>
      <li><a href="https://lazivoyage.blogspot.com" target="_blank">Bài Viết</a></li>
      <li><a href="#contact">Liên Hệ</a></li>
    </ul>
  </nav>
  <div class="search-bar-container">
    <div class="search-bar">
      <input type="text" id="mySearchInput" placeholder="Tìm kiếm..." aria-label="Search">
      <button type="submit" aria-label="Search button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div id="searchResults" class="search-results-list"></div>
  </div>
  <div class="mobile-menu">
    <button class="hamburger" aria-label="Menu">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <div class="mobile-menu-content">
    <ul>
      <li><a href="#home">Trang Chủ</a></li>
      <li><a href="https://lazivoyage.blogspot.com" target="_blank">Bài Viết</a></li>
      <li><a href="#contact">Liên Hệ</a></li>
    </ul>
  </div>
</header>
